.login-container {
  // padding: 40px 0;
  padding-top: 60px;
  // justify-content: center;
  // align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 960px) {
    display: none;
  }
}

.login-image {
  // max-width: 100%;
  // height: auto;
  // border-radius: 8px;
  // object-fit: cover;
  width: 100%;
  height: 90%;
  border-radius: 8px;
  max-width: 500px;
  max-height: 550px;
  object-fit: cover;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.form-paper {
  padding: 20px;
  box-shadow: none;
}

.login-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.login-subtitle {
  color: #555;
  margin-bottom: 30px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field {
  margin-bottom: 5px;
}

.field-label {
  margin-bottom: 8px;
  font-weight: 500;
}

.required {
  color: #ff3366;
}

.text-input {
  background-color: white;
}

.forgot-password-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
}

.forgot-password-link {
  color: #555;
  text-decoration: none;
  font-size: 0.875rem;

  &:hover {
    text-decoration: underline;
    color: #1fab89;
  }
}

.login-button {
  background-color: #1fab89 !important;
  color: white !important;
  padding: 5px 24px !important;
  border-radius: 30px !important;
  font-weight: 600 !important;
  margin-top: 10px !important;
  text-transform: none !important;
  font-size: 1.1rem !important;

  &:hover {
    background-color: #158f73;
  }
}

.divider-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.divider {
  flex-grow: 1;
}

.divider-text {
  padding: 0 15px;
  color: #777;
}

.google-button {
  width: 100%;
  padding: 8px !important;
  border-radius: 30px;
  text-transform: none;
  border: 1px solid #ddd;
  color: #333;
  background-color: #f5f9f7;

  &:hover {
    background-color: #f0f5f3;
    border-color: #ccc;
  }
}

.register-link-container {
  text-align: center;
  margin-top: 20px;
}

.register-link {
  color: #1fab89;
  text-decoration: none;
  font-weight: 500;
  margin-left: 5px;

  &:hover {
    text-decoration: underline;
  }
}
