.header {
  /* background-color: white; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.toolbar {
  display: flex !important;
  justify-content: space-between !important;
  padding: 8px 0 !important;
}

.logo-container {
  display: flex !important;
  align-items: center !important;
}

.logo {
  font-family: "Vast Shadow", sans-serif;
  font-weight: 700;
  color: #ff3366;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 2.2rem;
}

.logo-icon {
  color: #1fab89 !important;
  font-size: 2rem !important;
  margin-left: 5px !important;
  display: inline-block !important;
  transform: translateY(-2px) !important;
}

.nav-menu {
  display: flex !important;
  flex-grow: 1 !important;
  margin-left: 80px !important;
  justify-content: start !important;
}

.nav-item {
  color: black !important;
  margin: 0 8px !important;
  padding: 6px 15px !important;
  border-radius: 0 !important;
  font-size: 1rem !important;
}

.nav-item:hover {
  background-color: transparent !important;
  opacity: 0.8 !important;
}

.nav-item.active {
  border-bottom: 3px solid #1fab89 !important;
}

.icons-container {
  display: flex !important;
  align-items: center !important;
}

.account-icon {
  color: #1b5e20 !important;
}
